<!DOCTYPE html>
<html>
{% include head.html %}

<body>

    <nav id="menu" class="menu">
      <header>
        <section class="menu-section">
          <h3 class="menu-section-title">Menu</h3>
          <ul class="menu-section-list">
              <li><a class="page-link" href="{{site.github.url}}/">About</a>
             <li><a class="page-link" href="{{site.github.url}}/research">Research</a></li>
              <li><a class="page-link" href="{{site.github.url}}/talks"> Talks </a></li>
              <!-- <li><a class="page-link" href="{{site.github.url}}/rishabh_cv.pdf"> CV </a></li> -->
          </ul>
        </section>
      </header>
    </nav>


    <main id="panel">
      <div class="page-content">
        <div class="wrapper container">
          <header>
            <nav class="site-header">
              <div class="row">
                <div class="menu-toggle"><button class="toggle-button"><i class="icon fa fa-bars"></i></button></div>

                <div class="site-title"><a href="/">Ander Iriondo Azpiri</a></div>

              </div>
              <div class="desktop-menu">
                <ul>
                    <li><a href="{{site.github.url}}/"> About </a></li>
                    <li><a href="{{site.github.url}}/research"> Research</a></li>
                    <li><a href="{{site.github.url}}/talks"> Talks </a></li>
                    <!-- <li><a href="{{site.github.url}}/rishabh_cv.pdf"> CV </a></li> -->
                </ul>
              </div>
            </nav>
          </header>


          {{content}}

        </div>

      </div>

      <div class="invisible-divider"></div>
      <footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="force seven columns">
        <ul class="contact-list">
          <li class="social-links">
            <a href="https://twitter.com/anderiri2" target="_blank">
              <i class="fa fa-twitter fa-10x" style="color:#00ACEE"></i> anderiri2
            </a>
            <a href="https://github.com/anderiri2/" style="color:#211F1F" target="_blank">
                <i class="fa fa-github fa-10x" style="color:#211F1F"> </i> anderiri2
            </a>
            <a href="https://www.linkedin.com/in/andeririondo/" target="_blank">
              <i class="fa fa-linkedin fa-10x" style="color:#0e76a8"> </i> andeririondo
            </a>
            <a href="https://scholar.google.es/citations?user=Hy-Z3PoAAAAJ&hl=en" target="_blank">
              <i class="ai ai-google-scholar ai-10x" style="color:#0e76a8"> </i> Google Scholar
            </a>
            <a href="bitcoin:bc1p3ahap9y3gky4gxgt4l9rsdugtjcnl2jjduce7wkcjy0r7rx2d6esu5agsh" target="_blank">
              <img src="images/bitcoin.png"> Bitcoin
            </a>
          </li>
        </ul>
      </div>
      <div class="force five columns">
        <p class="site-description">
          <a href="mailto:ander.iriondo@tekniker.es" style="color:#211F1F">ander.iriondo (at) tekniker (dot) es</a>
        </p>
      </div>
    </div>
  </div>
</footer>

    </main>

  </body>

</html>
